<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>02_servletdatas</display-name>
  
  <servlet>
  	<servlet-name>inittest</servlet-name>
  	<servlet-class>com.servletdats.controller.InitParamServlet22</servlet-class>
  	<init-param>
  		<param-name>email</param-name>
  		<param-value>newkayak12@gmail.com</param-value>
  	</init-param>
  	<!-- 코드단이 아니더라도 얘를 수정할 수 있다. -->
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>inittest</servlet-name>
  	<url-pattern>/initparam.do</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>