<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>03_listener_filter</display-name>
  <!-- 리스너 등록하기 -->
  <!--
   <listener>
  	<listener-class>com.listener.ContextListenerTest</listener-class>
  </listener>
  
  <listener>
  	<listener-class>com.listener.SessionListenerTest</listener-class>
  </listener>
  
  <listener>
  	<listener-class>com.listener.RequestListenerTest</listener-class>
  </listener>
  
  필터를 위해서 주석 처리했습니다.
   -->
  
  
  <!--
   필터 등록하기
   기본적으로 필터 태그가 있다. filterName, filterClass가 있다.
   추가적으로 이 필터를 어떻게 거쳐가야하는지도 정해줘야 WAS가 알아서 돌린다.
  	
     -->
  <filter>
  	<filter-name>encoding</filter-name>
  	<filter-class>com.filter.EncodingFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>encoding</filter-name>
  	<url-pattern>/*</url-pattern>
  	<!--/* 모든 녀석으로 찍으니까 모두 필터를 거쳐서간다. url-pattern이 필터를 지나가는 규칙정도로 생각하면 될 것 같다.  -->
  </filter-mapping>
  
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>